.sauce{
    height: auto;
    width: 500px;
}

.cook.des{
    background-color: aqua;
}

.cook.step{
    font-family: Helvetica, sans-serif;
}

.cook{
    font-weight: 900;
    font-family: "Times New Roman", Helvetica, sans-serif;
    background-color: yellowgreen;
    text-align: center;
}

#recipes{
    text-align: center;
}

li {
    text-align: center;
}

p{
    text-align: center;
}
.menu-one{
    color: red;
}